@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navigation {
  z-index: 100;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
  background-color: hsl(0, 0%, 100%);
}
.navigation .navigator {
  display: none !important;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.navigation__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__list_element {
  display: inline-block;
  margin: 15px;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}
.navigation__list_element:hover {
  border-bottom: 3px solid transparent;
  -o-border-image: linear-gradient(to left, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
     border-image: linear-gradient(to left, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
  border-image-slice: 1;
  margin-bottom: -3px;
}
.navigation__list_element a {
  display: flex;
  height: 70px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}

.default-submit {
  align-self: center;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to left, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
  border-radius: 30px;
  height: 50px;
  padding: 20px 40px;
  border: none;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: hsl(0, 0%, 98%);
}
.default-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.default-section {
  background-color: hsl(0, 0%, 98%);
  width: 90%;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 10%;
}
.default-section .first-column,
.default-section .second-column {
  position: relative;
  overflow: hidden;
}
.default-section .generation-column {
  width: 40% !important;
}
.default-section .first-column {
  padding: 200px 0;
}
.default-section .generation-images {
  width: 60%;
}
.default-section .generation-images .second-column__bg_container {
  position: absolute;
  float: right;
  top: -200px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.default-section .generation-images .second-column__bg_container img {
  max-width: 300%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.default-section .generation-images .second-column__mockups_container {
  position: absolute;
  top: -20vh;
  right: -20vh;
  overflow: hidden;
}
.default-section .generation-images .second-column__mockups_container img {
  max-width: 120%;
}

.header-first {
  font-family: "Public Sans", sans-serif;
  font-size: 64px;
  color: hsl(233, 26%, 24%);
  font-weight: 300;
}

.default-paragraph {
  max-width: 500px;
  font-size: 20px;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  margin: 50px 0;
  line-height: 30px;
  color: hsl(233, 8%, 62%);
}

.choose {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 10%;
  background-color: hsl(220, 16%, 96%);
}
.choose .default-paragraph {
  max-width: 750px;
}

.header-second {
  font-family: "Public Sans", sans-serif;
  font-size: 48px;
  color: hsl(233, 26%, 24%);
  font-weight: 300;
}

.section__container {
  display: flex;
  flex-direction: row;
}
.section__container .header-third {
  margin-top: 50px;
}
.section__container_element {
  margin-right: 2vw;
}

.header-third {
  font-family: "Public Sans", sans-serif;
  font-size: 25px;
  color: hsl(233, 26%, 24%);
  font-weight: 300;
}

.latest {
  flex-direction: column;
  padding: 10%;
  width: 80%;
}
.latest .section__container {
  justify-content: space-between;
}
.latest .default-paragraph {
  font-size: 16px;
  line-height: normal;
  margin: 20px 0;
}
.latest .header-third {
  font-size: 25px;
  margin-top: 0;
}
.latest .header-second {
  margin-bottom: 50px;
}
.latest .section__container_element {
  overflow: hidden;
  border-radius: 10px;
  width: 20%;
  background-color: hsl(0, 0%, 100%);
}
.latest .section__image {
  width: 100%;
  height: 200px;
}
.latest .section__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.latest .section__info {
  padding: 10%;
}
.latest .section__info .rights {
  font-size: 10px;
  margin-bottom: 10px;
}

.footer {
  background-color: hsl(233, 26%, 24%);
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
}
.footer__contact {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
}
.footer__links {
  font-family: "Public Sans", sans-serif;
  color: hsl(0, 0%, 98%);
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px;
}
.footer__request {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10%;
  text-align: end;
}

.rights {
  font-family: "Public Sans", sans-serif;
  color: hsl(233, 8%, 62%);
}

@media (max-width: 950px) {
  .navigation__list {
    display: none;
  }
  .navigation .default-submit {
    display: none;
  }
  .navigation .navigator {
    display: flex !important;
  }
  .choose {
    text-align: center;
    flex-direction: column !important;
    width: 90% !important;
    padding: 0 5% !important;
  }
  .choose .header-second {
    margin-top: 50px;
  }
  .footer {
    flex-direction: column !important;
  }
  .footer__icons {
    margin-bottom: 40px;
  }
  .footer__contact {
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .footer__contact li {
    margin: 0;
  }
  .footer__request {
    margin-right: 0;
  }
  .footer__links {
    line-height: 30px;
  }
  .footer .default-submit {
    margin-top: 40px;
  }
  .footer .rights {
    align-self: center;
    margin: 40px 0;
  }
  .footer .logo-container {
    margin-top: 40px;
  }
}
.latest {
  flex-direction: column !important;
  text-align: center;
}
.latest .header-second {
  margin-top: 50px;
}
.latest .section__container {
  width: 90% !important;
  padding: 0 5% !important;
}
.latest .section__container_element {
  width: 100% !important;
  margin-bottom: 50px;
}

.default-section {
  flex-direction: column-reverse;
  padding: 0;
  width: 100%;
}
.default-section .generation-column {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 90% !important;
  padding: 0 5%;
}
.default-section .generation-column .header-first {
  margin-top: 100px;
}
.default-section .generation-column .default-submit {
  margin-bottom: 100px;
}
.default-section .generation-images {
  width: 100%;
  position: relative;
  max-height: 500px;
}
.default-section .generation-images .second-column__mockups_container {
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20%;
  right: 0;
}
.default-section .generation-images .second-column__bg_container {
  position: relative;
  transform: translateY(-30vw);
}
.default-section .section__container {
  flex-direction: column-reverse;
}
.default-section .section__container_element {
  text-align: center;
}

@media (max-width: 600px) {
  .header-first {
    font-size: 50px;
  }
  .default-paragraph {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */