$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

$font-family: 'Public Sans', sans-serif;
$weight-first: 300;
$weight-second: 400;
$weight-third: 700;

$desktop-padding-r-l: 10%;
$desktop-padding-t-b: 0;

$gradient: linear-gradient(to left, $bright-cyan , $lime-green);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.navigation {
	z-index: 100;
	position: sticky;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 $desktop-padding-r-l;
	background-color: $white;

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__list_element {
		display: inline-block;
		margin: 15px;
		font-family: $font-family;
		font-weight: $weight-second;

		&:hover {
			border-bottom: 3px solid transparent;
			border-image: $gradient;
			border-image-slice: 1;
			margin-bottom: -3px;
		}

		a {
			display: flex;
			height: 70px;
			flex-direction: column;
			justify-content: center;
			text-decoration: none;
			color: $grayish-blue;
		}
	}
}

.default-submit {
	align-self: center;
	display: flex;
	align-items: center;
	background-image: $gradient;
	border-radius: 30px;
	height: 50px;
	padding: 20px 40px;
	border: none;
	font-family: $font-family;
	font-weight: $weight-second;
	font-size: 16px;
	color: $very-light-gray;

	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}

.default-section {
	background-color: $very-light-gray;
	width: 90%;
	display: flex;
	flex-direction: row;
	padding: 0 0 0 $desktop-padding-r-l;

	.first-column,
	.second-column {
		position: relative;
		overflow: hidden;

	}

	.generation-column {
		width: 40% !important;
	}

	.first-column {
		padding: 200px 0;
	}

	.generation-images {
		width: 60%;
		.second-column__bg_container {
			position: absolute;
			float: right;
			top: -200px;
			width: 100%;
			height: 100%;
			overflow: hidden;

			img {
				max-width: 300%;
				max-height: 100%;
				object-fit: contain;
			}
		}

		.second-column__mockups_container {
			position: absolute;
			top: -20vh;
			right: -20vh;
			overflow: hidden;


			img {
				max-width: 120%;
			}
		}
	}


}

.header-first {
	font-family: $font-family;
	font-size: 64px;
	color: $dark-blue;
	font-weight: $weight-first;
}

.default-paragraph {
	max-width: 500px;
	font-size: 20px;
	font-family: $font-family;
	font-weight: $weight-second;
	margin: 50px 0;
	line-height: 30px;
	color: $grayish-blue;
}

.choose{
	width: 80%;
	display: flex;
	flex-direction: column;
	padding: $desktop-padding-r-l;
	background-color: $light-grayish-blue;

	.default-paragraph{
		max-width: 750px;
	}
}

.header-second{
	font-family: $font-family;
	font-size: 48px;
	color: $dark-blue;
	font-weight: $weight-first;
}

.section__container{
	display: flex;
	flex-direction: row;

	.header-third{
		margin-top: 50px;
	}

	&_element{
		margin-right: 2vw;
	}
}

.header-third{
	font-family: $font-family;
	font-size: 25px;
	color: $dark-blue;
	font-weight: $weight-first;
}

.latest{
	flex-direction: column;
	padding: $desktop-padding-r-l;

	.default-paragraph{
		font-size: 16px;
		line-height: normal;
		margin: 20px 0;
	}
	.header-third{
		font-size: 25px;
		margin-top: 0;
	}

	.header-second{
		margin-bottom: 50px;
	}

	.section__container_element{
		overflow: hidden;
		border-radius: 10px;
		width: 20%;
		background-color: $white;
	}

	.section__image{
		width: 100%;
		height: 200px;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	
	.section__info{
		padding: 10%;
	}
}